@page
@model Exercises.Pages.Lesson3.Ober

@{
    Layout = null;
}

<style>
    .order-overview td {
        border: 1px solid black;
    }
</style>

<div>
    <div>Tafel: @Model.TableNr</div>
    @if (Model.TableNr.HasValue && Model.TableOrders.Any())
    {
        <div>
            <form method="post" asp-page-handler="pay">
                <input type="hidden" asp-for="TableNr">
                <button type="submit">Pay &euro;@Model.TableOrders.Sum(x => x.TotalPrice)</button>
            </form>
        </div>
    }
</div>

<hr>

<div>
    <form name="tableNrSelectForm" method="post" asp-page-handler="selectTable">
        <select name="tableNr">
            @foreach (var tableNr in Enumerable.Range(1, 10))
            {
                if (tableNr == Model.TableNr)
                {
                    <option value="@tableNr" selected>Tafel Nr: @tableNr</option>
                }
                else
                {
                    <option value="@tableNr">Tafel Nr: @tableNr</option>
                }
            }
        </select>ยก
        <button type="submit">Selecteer tafel</button>
    </form>
</div>

@if (Model.TableNr.HasValue)
{
    <div>
        <form name="categorySelectForm" method="post" asp-page-handler="selectCategory">
            <input type="hidden" asp-for="TableNr">
            <select name="CategoryId" asp-for="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    if (category.CategoryId == Model.CategoryId)
                    {
                        <option value="@category.CategoryId" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                }
            </select>
            <button type="submit">Selecteer category</button>
        </form>
    </div>
}

@if (Model.Products != null)
{
    <div>
        <form name="productSelectForm" method="post" asp-page-handler="addProductToOrder">
            <input type="hidden" asp-for="TableNr">
            <input type="hidden" asp-for="CategoryId">
            <select name="ProductId">
                @foreach (var product in Model.Products)
                {
                    if (product.ProductId == Model.ProductId)
                    {
                        <option value="@product.ProductId" selected>@product.Name</option>
                    }
                    else
                    {
                        <option value="@product.ProductId">@product.Name</option>
                    }
                }
            </select>
            <button type="submit">Product toevoegen</button>
        </form>
    </div>
}

@if (Model.TableOrders != null && Model.TableOrders.Any())
{
    <div>

        <table class="order-overview">
            <thead>
            <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Aantal</th>
                <th>Stuk Price</th>
                <th>Totaal Prijs</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tableOrder in Model.TableOrders)
            {
                <tr>
                    <td>
                        @tableOrder.CategoryName
                    </td>
                    <td>
                        @tableOrder.ProductName
                    </td>
                    <td>
                        @tableOrder.Amount
                    </td>
                    <td>
                        &euro; @tableOrder.Price
                    </td>
                    <td>
                        &euro; @tableOrder.TotalPrice
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <form asp-page-handler="addProductToOrder">
                            <input type="hidden" asp-for="TableNr">
                            <input type="hidden" asp-for="CategoryId">
                            <input type="hidden" name="ProductId" value="@tableOrder.ProductId">
                            <button type="submit">++</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div>Geen Orders</div>
}

<hr>
<hr>
<h1>Manier 2 met Relationships</h1>
@if (Model.TableOrdersWithRelationship != null && Model.TableOrdersWithRelationship.Any())
{
    <div>
        <table class="order-overview">
            <thead>
            <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Aantal</th>
                <th>Stuk Price</th>
                <th>Totaal Prijs</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var orderLine in Model.TableOrdersWithRelationship)
            {
                <tr>
                    <td>
                        @orderLine.Product.Category.Name
                    </td>
                    <td>
                        @orderLine.Product.Name
                    </td>
                    <td>
                        @orderLine.Amount
                    </td>
                    <td>
                        &euro; @orderLine.Product.Price
                    </td>
                    <td>
                        &euro; @(orderLine.Product.Price * orderLine.Amount)
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <form asp-page-handler="addProductToOrder">
                            <input type="hidden" asp-for="TableNr">
                            <input type="hidden" asp-for="CategoryId">
                            <input type="hidden" name="ProductId" value="@orderLine.Product.ProductId">
                            <button type="submit">++</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div>Geen Orders</div>
}

