@page "{costObjectId:int?}"
@model Exercises.Pages.Lesson3.Overview

@{
    Layout = null;
}

<table id="costObjectsTable">
@foreach (var costObject in Model.CostObjects)
{
    <tr style="@(costObject.CostObjectId == Model.CostObjectId ? "background-color: lightblue" : "")">
        <td>@costObject.Name</td>
        <td>@costObject.Budget</td>
        <td>@costObject.TelNr</td>
        <td>@costObject.Email</td>
        <td><a class="displayBillBtn" id="@("costObjectId"+costObject.CostObjectId)" asp-route-costObjectId="@costObject.CostObjectId">Display Bill</a></td>
    </tr>
}
</table>
<hr>
@if (@Model.BillLines != null && Model.BillLines.Any())
{
    <table id="billLinesTable">
        @foreach (var billLine in Model.BillLines)
        {
            <tr>
                <td>@billLine.ProductName</td>
                <td>@billLine.CategoryName</td>
                <td>@billLine.ProductPrice</td>
                <td>@billLine.ProductOrderedAmount</td>
                <td>@billLine.TotalProductPrice</td>
            </tr>
        }
        <tr>
            <td colspan="4"></td>
            <td>@Model.TotalPrice.Total</td>
        </tr>
    </table>
}
else
{
    <h1 class="noOrder">No Orders</h1>
}
