@page
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model Examples.Pages.Lesson3.LesDemo.TodoListDB

@{
    Layout = null;
}

@inject IWebHostEnvironment env

@if (env.IsProduction())
{
    <h1>Er zit een SQL Injectie voorbeeld in de code, vandaar dat deze niet in productie staat :-)</h1>
    <h2>Dit voorbeeld kan je bekijken als je het Examples project hebt gedownload van github.</h2>
    return;
}

<h1>Todo List</h1>
<hr>

<ul>
    @foreach (var todo in @Model.Todos)
    {
        <li>@todo.Description -- @todo.Done
            <form method="post">
                <button type="submit" asp-page-handler="Delete" asp-route-todoId="@todo.TodoId">Delete</button>
                
            </form>
            <a asp-page="Update" asp-route-todoId="@todo.TodoId">Edit</a>
        </li>
    }
</ul>

<hr>
@* <form method="post" asp-page-handler="Create"> *@
@*     Description: <input type="text" name="Description"><br> *@
@*     Done: <input type="checkbox" name="Done"><br> *@
@*     <button type="submit">Add</button> *@
@* </form> *@

<form method="post" asp-page-handler="Create">
    Description: <input asp-for="NewTodo.Description">
    <span asp-validation-for="NewTodo.Description"></span>
    <br>
    Done: <input type="checkbox" asp-for="NewTodo.Done"><br>
    
    <button type="submit">Add</button>
</form>