@page
@model Examples.Pages.Lesson2.Products.Index

@{
    Layout = "Products/_ProductsLayout";
}

<h1>All Category Infos</h1>
@await Component.InvokeAsync("CategoryInfo2")

<h1>Products</h1>
<partial name="_ProductCount" model="Model.Products"/>

<div class="row">
    <a asp-page="Create" class="btn btn-primary">Create</a>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="_DisplayProduct" model="product"></partial>
        
        @* onderstaande code staat in partial page _DisplayProduct
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    @product.Name
                </div>
                <img class="card-img-top" src="https://picsum.photos/id/@(product.ProductId)/200/200" alt="@product.Name">
                <div class="card-body">
                    @if (@product.SalePrice.HasValue)
                    {
                        <h2 class="card-subtitle text-info">@product.SalePrice <del>@product.Price</del></h2>
                    }
                    else
                    {
                        <h2 class="card-subtitle text-info">@product.Price</h2>
                    }
                    <p class="card-text">@product.Description</p>
                    <a class="btn btn-primary" asp-page="Details" asp-route-productId="@product.ProductId">
                        <i class="fas fa-info-circle"></i>&nbsp;Details
                    </a>
                    <form method="post">
                        <input type="hidden" name="productId" value="@product.ProductId">
                        <button asp-page-handler="Delete" class="btn btn-primary">
                            <i class="fas fa-trash"></i>&nbsp;Delete
                        </button>
                    </form>
                    <a asp-page="./Edit" asp-route-id="@product.ProductId" class="btn btn-primary">
                        <i class="fas fa-edit"></i>&nbsp;Edit
                    </a>
                </div>
                <div class="card-footer">
                      <small class="text-muted">@product.Category</small>
                </div>
            </div>
        </div> 
        *@
    }
</div>
